# Environment & Secrets
.env
.env.*
*.env

# Python
.venv/
__pycache__/
*.pyc

# dbt
profiles.yml
target/
dbt_packages/
logs/

# Airflow
airflow.cfg
airflow.db
logs/

# Postgres
pgdata/

# OS / Editor
.DS_Store
.vscode/
.idea/
